@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  font-family: "Roboto", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .button {
    font-size: 0.9;
  }
}
.button__login--signin {
  background-color: transparent;
}
.button__login--signin:hover {
  color: #0052FF;
}
@media screen and (max-width: 1050px) {
  .button__login--signin {
    display: none;
  }
}
.button__login--getstarted {
  background-color: #0052FF;
  border-radius: 2rem;
  color: white;
}
.button__login--getstarted:hover {
  background-color: #004beb;
}
.button--hero {
  width: 100%;
  padding: 1.5rem;
  background-color: #004beb;
  color: white;
  font-size: 1rem;
}
.button--hero:hover {
  background-color: #0052FF;
}
@media screen and (max-width: 992px) {
  .button--hero {
    font-size: 0.6;
  }
}
.button--buy {
  background-color: #158b59;
  color: white;
}
.button--buy:hover {
  background-color: #098551;
}
.button__web3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #3773f5;
  color: #0a0b0d;
  border-radius: 4rem;
  text-decoration: none;
  width: 15rem;
}
.button__web3:hover {
  background-color: #477ef6;
  color: #0a0b0d;
}
@media (max-width: 768px) {
  .button__web3 {
    width: 100%;
  }
}
.button--link {
  display: block;
  text-decoration: none;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.table {
  border: 1px gray solid;
  border-radius: 1rem;
}
.table__coin {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: auto;
  gap: 1rem;
}

.section__hero__textGroup__icon--rounded {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #004beb;
}
.section__hero__textGroup__icon--bitcoin {
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  transform: skewX(-15deg);
}

.article__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  box-shadow: rgba(218, 225, 233, 0.557) 0px 8px 16px;
  border-radius: 50%;
}

.icon, .icon--rounded {
  text-align: center;
  color: #004beb;
  font-size: 4rem;
}
.icon--rounded {
  font-size: 3rem;
}

.listGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: center;
}
.listGroup__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 1rem;
}
.listGroup__item:hover {
  box-shadow: 0.5rem 0.5rem 2rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .listGroup__item {
    border-radius: 0;
    border: solid 1px rgba(0, 0, 0, 0.233);
    box-shadow: none;
  }
}
.listGroup__coin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.listGroup__coin__title {
  margin-bottom: 0;
}
.listGroup__coin__price {
  margin-bottom: 0;
}
.listGroup__coin__init {
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: auto;
  justify-content: auto;
  width: 100%;
}
@media screen and (max-width: 530px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: auto;
    justify-content: stretch;
    font-size: 0.9rem;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 560px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: auto;
    justify-content: stretch;
    font-size: 1rem;
    gap: 0.5rem;
  }
}

.form__input {
  border: 1px solid black;
  margin-right: 1rem;
  border-radius: 0.3rem;
  padding: 1.5rem;
  width: 100%;
}
.form__input:focus-within {
  border: 3px solid black;
}

.feature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  border: none;
  text-align: center;
}
.feature__card--title {
  color: auto;
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 1.5rem;
}
.feature__card--text {
  color: #a7a7a7;
  font-weight: 400;
  font-size: 1rem;
  margin: 1rem 0 5rem;
}
@media screen and (max-width: 945px) {
  .feature__card--text {
    margin-bottom: 2rem;
  }
}
.feature__card--link {
  color: #004beb;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

.figure__coin {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
}
.figure__coin__logo {
  width: 100%;
}

.figure__hero {
  margin: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}
@media screen and (max-width: 769px) {
  .figure__hero {
    display: none;
  }
}

.figure__portfolio {
  width: 43rem;
}

.figure__img {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100wv;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.144);
  padding: 1rem;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
}
.header__figure {
  margin-bottom: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin-bottom: 0;
}
.navbar__list {
  font-size: 1rem;
  font-weight: 600;
}
.navbar__list--items:hover {
  border-bottom: 4px solid #004beb;
}
@media screen and (max-width: 1050px) {
  .navbar__list--items {
    display: none;
  }
}

main {
  padding: 0;
}

.section {
  margin: 4rem auto;
}
.section__hero {
  margin-left: 0;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section__hero__textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 2rem;
}
.section__hero__textGroup--link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #004beb;
  font-weight: 500;
  font-size: 1.1rem;
}
.section__hero__textGroup__title {
  color: auto;
  font-weight: 500;
  font-size: 4rem;
}
@media screen and (max-width: 560px) {
  .section__hero__textGroup__title {
    font-size: 2.2rem;
  }
}
.section__hero__textGroup__text {
  color: auto;
  font-weight: 500;
  font-size: 1.4rem;
}
@media screen and (max-width: 560px) {
  .section__hero__textGroup__text {
    color: auto;
    font-weight: 400;
    font-size: 1rem;
  }
}
.section__web3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100wv;
  background-color: #0a0b0d;
  padding: 0;
}
.section__web3__figure {
  align-self: center;
  margin-bottom: 0;
  width: 10rem;
  height: 10rem;
}
.section__web3__figure__img {
  object-fit: cover;
  width: 100%;
}
.section__web3__textGroup {
  color: white;
  padding: 1.5rem 0rem 1rem 3rem;
}
.section__web3__textGroup__title {
  color: auto;
  font-weight: 400;
  font-size: 2.6rem;
}
@media screen and (max-width: 768px) {
  .section__web3__textGroup__title {
    font-size: 1.8rem;
  }
}
.section__web3__textGroup__text {
  color: auto;
  font-weight: 400;
  font-size: 1.3rem;
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  .section__web3__textGroup__text {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .section__web3__textGroup {
    padding-left: 2rem;
  }
}
.section__web3__button {
  color: auto;
  font-weight: 500;
  font-size: 1.2rem;
}
.section__web3__button--text {
  margin-bottom: 0;
}
.section__earn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: auto;
  gap: 5rem;
}
.section__earn__textGroup {
  padding: 2rem;
  width: 100%;
}
.section__earn__textGroup__title {
  color: auto;
  font-weight: 500;
  font-size: 2rem;
}
.section__earn__textGroup__text {
  color: auto;
  font-weight: 400;
  font-size: 1.1rem;
}
@media screen and (max-width: 768px) {
  .section__earn__textGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: auto;
    text-align: center;
  }
}
.section__earn__listGroup {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section__earn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.section__portfolio {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__portfolio--flex {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: auto;
}
@media screen and (max-width: 1170px) {
  .section__portfolio--flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: auto;
  }
}
.section__portfolio--portfolioText {
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: auto;
  gap: 2rem;
  width: 100%;
  margin-right: 1rem;
}
.section__portfolio--figure {
  width: 100%;
}
.section__portfolio__characteristics {
  display: flex;
  flex-direction: row;
  align-items: auto;
  justify-content: auto;
  gap: 2rem;
}
.section__portfolio__article {
  width: 100;
}
.section__portfolio__article--title {
  color: auto;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.section__portfolio__article--text {
  color: #a7a7a7;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6;
}
.section__hr {
  color: #a7a7a7;
}
.section__kpi {
  margin-bottom: 5rem;
  background-color: #004beb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.section__kpi--stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.section__kpi--titleText {
  color: #ffffff;
  font-weight: 500;
  font-size: 4rem;
  margin: 0;
  padding: 0rem;
}
.section__kpi--text {
  color: #a7a7a7;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
}
@media screen and (max-width: 560px) {
  .section__kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.section__started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__started--title {
  color: auto;
  font-weight: 500;
  font-size: 2.8rem;
}
.section__started--text {
  color: #a7a7a7;
  font-weight: auto;
  font-size: auto;
  padding-top: 1rem;
}
.section__started__proces {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.section__started__proces--separator {
  display: block;
  width: 10vw;
}
@media screen and (max-width: 560px) {
  .section__started__proces--separator {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  .section__started__proces {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem;
  text-align: center;
}
.features__title {
  font-size: 3rem;
}
.features__text {
  font-size: 1.2rem;
}
.features__cards {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 945px) {
  .features__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.moonBanner {
  display: flex;
  flex-direction: row;
  align-items: auto;
  justify-content: auto;
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  height: 460px;
  width: 100%;
}
@media screen and (max-width: 769px) {
  .moonBanner {
    background-color: #135;
    color: white;
    height: auto;
  }
}
.moonBanner__textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.moonBanner__textGroup--position {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
  width: 100%;
  padding-left: 5rem;
}
@media screen and (max-width: 769px) {
  .moonBanner__textGroup--position {
    padding: 3rem 12rem;
    text-align: center;
  }
}
.moonBanner__textGroup--title {
  color: auto;
  font-weight: 600;
  font-size: 2rem;
}
.moonBanner__textGroup--text {
  color: auto;
  font-weight: 400;
  font-size: auto;
}
@media screen and (max-width: 769px) {
  .moonBanner__textGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.moonBanner__figure {
  width: 100%;
}
@media screen and (max-width: 769px) {
  .moonBanner__figure {
    display: none;
  }
}

.aside {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #a7a7a7;
  font-weight: auto;
  font-size: 0.9rem;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
@media screen and (max-width: 769px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
.footer__header {
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: auto;
  margin-right: 10rem;
}
.footer__text, .footer__listGroup__list--link, .footer__text--link {
  color: rgba(0, 0, 0, 0.582);
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
}
.footer__text--link {
  text-decoration: none;
}
.footer__text--link:hover {
  text-decoration: underline;
}
.footer__text--point {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0 3px;
}
.footer__listGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 769px) {
  .footer__listGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 560px) {
  .footer__listGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__listGroup__Title {
  color: auto;
  font-weight: 500;
  font-size: 1rem;
}
.footer__listGroup__div {
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: auto;
}
.footer__listGroup__div--one {
  gap: 1.5rem;
}
.footer__listGroup__list {
  padding: 0.5rem 0;
}
.footer__listGroup__list--link {
  text-decoration: none;
}
.footer__listGroup__list--link:hover {
  color: rgba(0, 0, 0, 0.658);
}

/*# sourceMappingURL=style.css.map */
