/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
}
.button__login--signin:hover {
  color: #0052FF;
}
.button__login--getstarted {
  background-color: #0052FF;
  color: white;
}
.button__login--getstarted:hover {
  background-color: #004beb;
}
.button--hero {
  width: 40%;
  padding: 1.5rem 2rem;
  background-color: #004beb;
  color: white;
  font-size: 1rem;
}
.button--hero:hover {
  background-color: #0052FF;
}
.button--buy {
  background-color: #158b59;
  color: white;
}
.button--buy:hover {
  background-color: #098551;
}
.button__web3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #3773f5;
  color: #0a0b0d;
  border-radius: 4rem;
  text-decoration: none;
  width: 15rem;
}
.button__web3:hover {
  background-color: #477ef6;
  color: #0a0b0d;
}
@media (max-width: 768px) {
  .button__web3 {
    width: 100%;
  }
}
.button--link {
  display: block;
  text-decoration: none;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.table {
  border: 1px gray solid;
  border-radius: 1rem;
}
.table__coin {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: auto;
  gap: 1rem;
}

.article__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  box-shadow: rgba(218, 225, 233, 0.557) 0px 8px 16px;
  border-radius: 50%;
}

.icon, .icon--rounded {
  text-align: center;
  color: #004beb;
  font-size: 5rem;
}
.icon--rounded {
  font-size: 2.5rem;
}

.listGroup {
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: center;
}
.listGroup__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 1rem;
}
.listGroup__item:hover {
  box-shadow: 0.5rem 0.5rem 2rem;
  cursor: pointer;
}
@media (max-width: 720px) {
  .listGroup__item {
    border-radius: 0;
    border: solid 1px rgba(0, 0, 0, 0.233);
    box-shadow: none;
  }
}
.listGroup__coin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.listGroup__coin__title {
  margin-bottom: 0;
}
.listGroup__coin__price {
  margin-bottom: 0;
}
.listGroup__coin__init {
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: auto;
  justify-content: auto;
  width: 100%;
}

.form__input {
  border: 1px solid black;
  margin-right: 1rem;
  border-radius: 0.3rem;
  padding: 1.5rem 1.5rem;
  width: 60%;
}
.form__input:focus-within {
  border: 3px solid black;
}

.card {
  width: 30%;
  border: none;
}

.figure__coin {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
}
.figure__coin__logo {
  width: 100%;
}

.figure__portfolio {
  width: 43rem;
}

.figure__img {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.144);
  padding: 1rem;
}
.header__figure {
  margin-bottom: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin-bottom: 0;
}
.navbar__list {
  font-size: 1rem;
  font-weight: 600;
}
.navbar__list--items:hover {
  border-bottom: 4px solid #004beb;
}

main {
  padding: 0;
}

.section {
  margin: 2rem auto;
}
.section__hero {
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section__hero__textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 2rem;
}
.section__hero__textGroup__title {
  width: 70%;
  font-weight: 600;
  font-size: 4rem;
}
.section__hero__textGroup__text {
  font-size: 1.5rem;
  font-weight: 600;
}
.section__web3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100wv;
  background-color: #0a0b0d;
}
.section__web3__figure {
  align-self: center;
  margin-bottom: 0;
  width: 10rem;
  height: 10rem;
}
.section__web3__figure__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section__web3__textGroup {
  color: white;
  padding: 1.5rem 4rem 1rem 3rem;
}
.section__web3__textGroup__title {
  font-size: 3.5rem;
  font-weight: 400;
}
.section__web3__textGroup__text {
  padding-right: 10rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.section__web3__button {
  font-size: 1.2rem;
  font-weight: 500;
}
.section__web3__button--text {
  margin-bottom: 0;
}
.section__earn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: auto;
  gap: 2rem;
}
.section__earn__textGroup {
  padding-right: 5rem;
  width: 50%;
}
.section__earn__textGroup__title {
  font-size: 2rem;
  font-weight: 500;
}
.section__earn__textGroup__text {
  font-size: 1.1rem;
  font-weight: 400;
}
.section__earn__listGroup {
  width: 50%;
}
.section__portfolio--flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section__portfolio--portfolioText {
  width: 40%;
}
.section__portfolio--figure {
  width: 60%;
}
.section__portfolio__characteristics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.moonBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f8ff;
}
.moonBanner__textGroup {
  width: 25rem;
  margin-left: 25rem;
}
.moonBanner__textGroup--title {
  font-size: 2rem;
  font-weight: 600;
}
.moonBanner__textGroup--text {
  font-weight: 600;
}
.moonBanner__figure {
  width: 40%;
}

.aside {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.397);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
.footer__header {
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: auto;
  margin-right: 10rem;
}
.footer__text, .footer__listGroup__list--link, .footer__text--link {
  color: rgba(0, 0, 0, 0.582);
  font-weight: 400;
  margin: 0;
  font-size: 1.2rem;
}
.footer__text--link {
  text-decoration: none;
}
.footer__text--link:hover {
  text-decoration: underline;
}
.footer__text--point {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0 3px;
}
.footer__listGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__listGroup__div {
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: auto;
}
.footer__listGroup__div--one {
  gap: 1.5rem;
}
.footer__listGroup__list {
  padding: 0.5rem 0;
}
.footer__listGroup__list--link {
  text-decoration: none;
}
.footer__listGroup__list--link:hover {
  color: rgba(0, 0, 0, 0.658);
}

/*# sourceMappingURL=style.css.map */
