$colorPrimary: #004beb;
$colorButton1: #0052FF;
$colorButton4H: #158b59;
$colorButton4: #098551;
$b-radius: 0.3rem;
$colorWeb3: #0a0b0d;
$buttonWeb3: #3773f5;
$buttonWeb3H: #477ef6;

$colorText: rgba(0, 0, 0, 0.486);