
main {
    padding: 0;
}
.section {
    margin: 2rem auto;
    &__hero {
        margin: 4rem auto;
        @include flexBox (row,center,center);
        &__textGroup {
            @include flexBox (column, flex-start, center);
            margin-right: 2rem;
            &__title {
                width: 70%;
                @include textStyle (auto, 600, 4rem);
            }
            &__text {
                @include textStyle (auto, 600, 1.5rem);
            }               
        }
    }
    &__web3 {
        @include flexBox (row,center,center);
        width: 100wv;
        background-color: $colorWeb3;
        &__figure {
            align-self: center;
            margin-bottom: 0;
            width: 10rem;
            height: 10rem;
            &__img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &__textGroup {
            color: white;
            padding: 1.5rem 4rem 1rem 3rem;
            &__title {
                @include textStyle (auto, 400, 3.5rem);
            }
            &__text {
                @include textStyle (auto, 500, 1.3rem);
                padding-right: 10rem;
            } 
        }

        &__button {
            @include textStyle (auto, 500, 1.2rem);
            &--text {
                margin-bottom: 0;
            }
        }
    }
    &__earn {
        @include flexBox (row,center,auto);
        gap: 2rem;
        &__textGroup{
            padding-right: 5rem;
            width: 50%;
            &__title {
                @include textStyle (auto, 500, 2rem);
            }
            &__text {
                @include textStyle (auto, 400, 1.1rem);
            }
        }
        &__listGroup {
            width: 50%;
        }
    }
    &__portfolio {
        &--flex{
            @include flexBox (row,center,center);
        }
        &--portfolioText {
            width: 40%
        }
        &--figure {
            width: 60%
        }
        &__characteristics {
            @include flexBox (row,center,center);
            gap: 1rem
        }
    }
}
.moonBanner {
    @include flexBox (row, center, space-between);
    background-color: #f5f8ff;
    &__textGroup {
        width: 25rem;
        margin-left: 25rem;
        &--title {
            @include textStyle (auto, 600, 2rem);
            // font-size: 2rem;
            // font-weight: 600;
        }
        &--text {
            @include textStyle ($colorText, 600, auto);
        }
    }
    &__figure {
        width: 40%;
    }

}
.aside {
    margin-top: 5rem;
    margin-bottom: 5rem;
    @include textStyle ($colorText, auto, 0.9rem);
}


