.navbar {
    @include flexBox (row, center, space-evenly);
    width: 40%;
    margin-bottom: 0;
    &__list {
        font-size: 1rem;
        font-weight: 600;
        &--items {
            &:hover {
                    border-bottom: 4px solid $colorPrimary;
                }
                @include resDesign (1050px) {
                    display: none;
                }
        }
        
    }
}