.button__login {
   @include buttons;
   &--signin {
    &:hover{
         color: $colorButton1;
    }

   }
   &--getstarted {
    background-color: $colorButton1;
    color: white;
    &:hover {
        background-color: $colorPrimary;
    }
   }
}
