.feature__card {
    @include flexBox (column,center,center);
    width: 33%;
    border: none;
    text-align: center;
    
    // margin: 7rem auto;
    &--title {
        @include textStyle (auto,500,1.4rem);
        margin-top: 1.5rem;
    }
    &--text {
        @include textStyle ($colorText,400, 1rem);
        margin: 1rem 0 5rem;
            @include resDesign (945px) {
                margin-bottom: 2rem
            }
    }
    &--link {
        @include textStyle ($colorPrimary, 500, 1rem);
        text-decoration: none;
    }
}