.feature__card {
    @include flexBox (column,center,center);
    width: 33%;
    border: none;
    text-align: center;
    
    margin: 5rem 2rem 5rem;
    &--title {
        @include textStyle (auto,500,1.4rem);
        margin-top: 1.5rem;
    }
    &--text {
        @include textStyle ($colorText,500, 1.2rem);
        margin: 1rem 0 5rem;
    }
    &--link {
        @include textStyle ($colorPrimary, 500, 1rem);
        text-decoration: none;
    }
}