.article__icon {
    @include flexBox (row, center, center);
    width: 5rem;
    height: 5rem;
    box-shadow: rgba(218, 225, 233, 0.557) 0px 8px 16px;
    border-radius: 50%;
}
.icon {
    text-align: center;
    color: $colorPrimary;
    font-size: 4rem;
    &--rounded {
        @extend .icon;
        font-size: 3rem;
    }
}