.figure__coin {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    &__logo {
        width: 100%;
    }
}
.figure__hero {
    width: 32rem;
}
.figure__portfolio {
    width: 43rem;
}
.figure__img {
    width: 100%;
}

