.listGroup {
    width: 100%;
    @include flexBox(column,auto,center);
    
    &__item {
        @include flexBox(row,center,space-between);
        border-radius: 0.5rem;
        padding: 1rem;
        &:hover {
            box-shadow: 0.5rem 0.5rem 2rem;
            cursor: pointer;
        }
        @media (max-width: 768px) {
            border-radius: 0;
            border: solid 1px  rgba(0, 0, 0, 0.233);
            box-shadow: none;
        }

    }
    &__coin {
        @include flexBox (row,center,flex-start);
        gap: 1rem;


        &__title {
            margin-bottom: 0;
            @include textStyle (auto, 500, 1);
            width: min-content;
        }
        &__price{
            margin-bottom: 0;
            @include textStyle ($colorButton4,500,1.1);
        }
        &__init {
            margin-bottom: 0;
            @include resDesign (768px) {
                display: none;
            }
        }
    }
}