.table {
    border: 1px gray solid;
    border-radius: 1rem;
    width: 100%;
    &__coin {
        @include flexBox (row, center, flex-start);
        gap: 1rem;
            @include resDesign (768px) {
                @include flexBox (row, stretch, flex-start);
                    }
        &--text {
            @include resDesign (768px) {
                @include flexBox (column, flex-start, center);
                gap: 0;

            }
        }

    }
    &__head, &__row--resDesign {
        @include resDesign (768px) {
            display: none;
        }
    }
    @include resDesign (768px) {
        border: none;
        border-top: 1px gray solid;
    }
    &__row__coin, &__row__initCoin {
        margin-bottom: 0;
    }
    &__row {
        &--column {
            @include flexBox (column,flex-end,center);
        }
        &--text {
            margin: 0;
        }
        &--none {
            color: red;
            @media (min-width: 769px) {
                display: none;
            }
                
            }
        }
    }

